@keyframes linearLoading {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(250%);
  }
}

/* Apply the animation to the loading bar */
.animate-linearLoading {
  animation: linearLoading 1.8s ease-in-out infinite;
}
